# You can set your Moodle URL here.
REACT_APP_MOODLEURL = 'http://x.x.x.x/'

# You can set Moodle Webservice Token here.
REACT_APP_MOODLEAPITOKEN = 'xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx'

# You can set TraxLRS URL here.
REACT_APP_TRAXLRSURL = 'http://x.x.x.x/'